@font-face {
  font-family: 'HarmonyOS_Sans';
  src: url('/fonts/HarmonyOS_Sans_Black.ttf'),
      url('/fonts/HarmonyOS_Sans_Bold.ttf'),
      url('/fonts/HarmonyOS_Sans_Light.ttf'),
      url('/fonts/HarmonyOS_Sans_Medium.ttf'),
      url('/fonts/HarmonyOS_Sans_Regular.ttf'),
      url('/fonts/HarmonyOS_Sans_Thin.ttf');
  font-display: swap;
}